name: Build Python (Debian)

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to build'
        required: true
        default: 'meta/3.14'
      install_path:
        description: 'Installation path for Python (default: /opt/cinderX.Y)'
        required: false
      vendor_string:
        description: 'Vendor string to embed in the build'
        required: false
        default: 'Mayuri'
      debian_codename:
        description: 'Debian codename to use'
        required: false
        default: 'bookworm'
  workflow_call:
    inputs:
      branch:
        type: string
        required: true
      install_path:
        type: string
        required: false
      vendor_string:
        type: string
        required: false
      debian_codename:
        type: string
        required: false
        default: 'bookworm'

permissions:
  contents: write

jobs:
  build:
    runs-on: ${{ matrix.os }}
    container:
      image: debian:${{ inputs.debian_codename }}
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up dependencies
        run: bash build.sh deps

      - name: Authenticate GitHub CLI
        run: echo "${{ secrets.GITHUB_TOKEN }}" | gh auth login --with-token

      - name: Clone Cinder source
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          ref: ${{ inputs.branch }}
          repository: facebookincubator/cinder
          path: src

      - name: Write Configuration
        run: bash build.sh write_config
        env:
          BRANCH: ${{ inputs.branch }}
          BASE_DIR: ${{ github.workspace }}
          INSTALL_PATH: ${{ inputs.install_path }}

      - name: Setup clang
        run: bash build.sh setup_clang

      - name: Configure Python
        run: bash build.sh configure
        env:
          VENDOR_STRING: ${{ inputs.vendor_string }}

      - name: Build Python
        run: bash build.sh build

      - name: Install Python
        run: bash build.sh install

      - name: Compress Python
        run: bash build.sh compress

      - name: Build Debian Package
        run: bash build.sh package

      - name: Release Build Artifacts
        run: bash build.sh release
