name: Build Python

on:
  workflow_dispatch:
    inputs:
      image_amd64:
        description: 'X86_64 Container image to use'
        required: true
        default: wulan17/debian:latest
      image_aarch64:
        description: 'AARCH64 Container image to use'
        required: true
        default: wulan17/debian-aarch64:latest
      tarball_url:
        description: 'URL to download the tarball (tgz/tar.gz/tar.xz)'
        required: true
        default: 'https://www.python.org/ftp/python/3.13.5/Python-3.13.5.tgz'
      install_path:
        description: 'Installation path for Python (default: /opt/pythonX.Y)'
        required: false
      enable_jit:
        description: 'Enable Experimental JIT Compiler Feature (0 for no, 1 for yes)'
        required: false
      vendor_string:
        description: 'Vendor string to embed in the build'
        required: false
        default: 'Mayuri'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    container:
      image: ${{ matrix.image }}
    strategy:
      matrix:
        include:
          - arch: amd64
            os: ubuntu-latest
            image: ${{ github.event.inputs.image_amd64 }}
          - arch: aarch64
            os: ubuntu-24.04-arm
            image: ${{ github.event.inputs.image_aarch64 }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up dependencies
        run: bash build.sh deps

      - name: Write Configuration
        run: bash build.sh write_config
        env:
          TARBALL_URL: ${{ github.event.inputs.tarball_url }}
          ENABLE_JIT: ${{ github.event.inputs.enable_jit }}
          BASE_DIR: ${{ github.workspace }}
          INSTALL_PATH: ${{ github.event.inputs.install_path }}

      - name: Download Python source
        run: bash build.sh download

      #- name: Setup clang
      #  run: bash build.sh setup_clang

      - name: Configure Python
        run: bash build.sh configure
        env:
          VENDOR_STRING: ${{ github.event.inputs.vendor_string }}

      - name: Build Python
        run: bash build.sh build

      - name: Install Python
        run: bash build.sh install

      - name: Compress Python
        run: bash build.sh compress

      - name: Build Debian Package
        run: bash build.sh deb

      - name: Release Build Artifacts
        run: bash build.sh release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY: ${{ github.repository }}
