name: Build Python

on:
  workflow_dispatch:
    inputs:
      tarball_url:
        description: 'URL to download the tarball (tgz/tar.gz/tar.xz)'
        required: true
        default: 'https://www.python.org/ftp/python/3.13.5/Python-3.13.5.tgz'
      install_path:
        description: 'Installation path for Python (default: /opt/pythonX.Y)'
        required: false
      enable_jit:
        description: 'Enable Experimental JIT Compiler Feature (0 for no, 1 for yes)'
        required: false
      vendor_string:
        description: 'Vendor string to embed in the build'
        required: false
        default: 'Mayuri'

permissions:
  contents: write

jobs:
  debian-bookworm:
    uses: ./.github/workflows/debian.yml
    with:
      tarball_url: ${{ github.event.inputs.tarball_url }}
      install_path: ${{ github.event.inputs.install_path }}
      enable_jit: ${{ github.event.inputs.enable_jit }}
      vendor_string: ${{ github.event.inputs.vendor_string }}
      debian_codename: bookworm
    secrets: inherit

  debian-trixie:
    uses: ./.github/workflows/debian.yml
    with:
      tarball_url: ${{ github.event.inputs.tarball_url }}
      install_path: ${{ github.event.inputs.install_path }}
      enable_jit: ${{ github.event.inputs.enable_jit }}
      vendor_string: ${{ github.event.inputs.vendor_string }}
      debian_codename: trixie
    secrets: inherit

  fedora:
    uses: ./.github/workflows/fedora.yml
    with:
      tarball_url: ${{ github.event.inputs.tarball_url }}
      install_path: ${{ github.event.inputs.install_path }}
      enable_jit: ${{ github.event.inputs.enable_jit }}
      vendor_string: ${{ github.event.inputs.vendor_string }}
    secrets: inherit
